nav .header_right .algos #bubble{
    margin-right: 2%;
}

nav .header_right .algos #selection{
    margin-right: 2%;
}

nav .header_right .algos #insertion{
    margin-right: 2%;
}

nav .header_right .algos #merge{
    margin-right: 2%;
}

nav .header_right .algos #quick{
    margin-right: 2%;
}
